.header{
    height: 40px;
    width: 100%;
    background: -webkit-linear-gradient(90deg, #edefee,#c9c9c9);
    background: linear-gradient(90deg, #edefee,#c9c9c9);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px 10px 0 0;
    padding: 0 5px;
}

.title{
    font-family:'Times New Roman', Times, serif;
    font-size: 24px;
    margin: auto 0;
    
}
.camera{
    width: 80vh;

}

.video {
    position: relative;

}
.videoFrame {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
  
.canvasFrame {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;


}