.photoPageBody{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    padding: 0 20px;
}
.cameraBox{
    display:table;    

}

.galery{
    height: 80%;
    width: 40%;
    overflow-y: auto;
}
.cameraInfoBox{
    height: 150px;
    
}