.textBlock{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    padding-left:20px;
    width:58%;
    height:100%;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.nameHeader{
    font-size: 16px;
    margin:0;
    padding:0;
}
.barCode{
    transform: rotate(270deg);
    width:280px;
    padding: 0;
    margin: 0;
    
    
}
.cardBlock{
    background-color: green;
    width: 550px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    font-size: 45px;
    color: black;
    border-radius: 15px;
    
}
.semilayer {
    opacity: 0.1; /* Значение прозрачности */
    filter: alpha(Opacity=10); /* Прозрачность в IE */

}   
.imgBlock{
    width: 42%;
    height: 100%;
    display: flex;

   
}
.img {
    width: 180px;
    height: 200px;
    align-self: center;
    background-color:white;
}
.cardId{
    font-size: 16px;
    
}

.spiner{
    position: absolute;

    margin: 135px 250px;
}
.backgroundLayer{
    display: block;
    background: #181A18; /* Цвет фона */
    border-radius: 15px;
    position: relative;

}