.my-modal {
    width: 90vw;
    max-width:90vw;
    height: 90vh;
    max-height:90vh;
}
.registrationForm{
    padding: 50px 20px;
    display: flex;
    flex-direction: row;    
    justify-content: space-around;

}
.regFormGroup{
    
    width: 50%;
}